.head > div {
  display:inline;
}

.row {
  border: 1px solid black;
  & > div {
    padding: 6px 10px;
    border-right: 1px solid black;
    display:inline-block;
    :last-child {
      border:none;
    }
  }
}


.load-more {
  padding: 6px 10px;
  border: 1px solid black;
  display:inline-block;
  width: 100%;
  cursor: pointer;

  &:hover {
    background: gray;
  }
}
