.head > div {
  padding: 6px 10px;
  border-right: 1px solid black;
  display: inline-block;
  &.asc, &.desc{
    background: skyblue;
    &:after {
      content:' ';
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      margin-left: 5px;
    }
  }
  &.asc:after {
    transform: rotate(-135deg);
  }
  &.desc:after {
    transform: rotate(45deg);
  }
}

.row {
  border: 1px solid black;
  & > div {
    padding: 6px 10px;
    border-right: 1px solid black;
    display: inline-block;
    :last-child {
      border: none;
    }
  }
}
